@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css');


html{
    box-sizing:border-box
}

*,*:before,*:after{
    box-sizing:inherit
}

.container:after,.container:before,.row-padding:after,.row-padding:before{
    content:"";
    display:table;
    clear:both
}

.third,.twothird{
    float:left;
    width:100%
}

.tag{
    background-color:#000;
    color:#fff;
    display:inline-block;
    padding:0 8px;
    text-align:center
}

html,body,h1,h2,h3,h4,h5,h6 {
    font-family: "Roboto", sans-serif;
}

@media (min-width:600px){
    .third{width:33.333333%}
    .twothird{width:66.666666%}
}

.buttons{
    margin-top: 35px;
}

.btn{
    padding: 10px 15px;
    border-radius: 20px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 20px;
    margin: 0 3px;
    cursor: pointer;
}

.btn-sm{
    font-size: 15px;
    padding: 7px 13px;
    margin: 12px 0;
}

.btn:hover{
    background-color: white;
    color: black;
}


.content{
    margin-left:auto;
    margin-right:auto;
    max-width:980px
}

.display-container:hover .display-hover{
    display:block
}

.display-container:hover span.display-hover{
    display:inline-block
}

.display-hover{
    display:none
}

.row-padding,.row-padding>.third,.row-padding>.twothird{
    padding:0 8px
}

.container{
    padding:0.01em 16px
}

.card,.card-2{
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}

.card-4{
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
}

table {
    width: -webkit-fill-available;
}