@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Source+Code+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
}

.sidebar{
    position: absolute;
    background-color: rgb(196, 192, 192);
    /* width: 435px; */
    font-family: 'Fira Sans',sans-serif;
    height: 100vh;
    transition: transform 0.3s ease-in;
}

.sidebar nav{
    padding: 40px;
}

.sidebar nav li{
   list-style: none;
   font-size: 30px;
   padding: 35px 0;
}

.sidebar nav li a{
    text-decoration: none;
    color: black;
}

.sidebarGo{
    transform: translate(-443px,0px);
    position: absolute;
}

.hamburger{
    position: absolute;
    cursor: pointer;
    top:10px;
    left: 10px;
}

.ham{
    margin-top: 10px;
}

.cross{
    margin-left: 160px;
    margin-top: 10px;
}

.main{
    /* background-color: yellow; */
    width: 90vw;
}

.container{
    display: flex;
}

.infoContainer{
    /* background-color: green; */
    height: 60vh;
    width: 80vw;
    margin: 140px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.devInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
}

.hello{
    font-size: 45px;
}

.name{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Fira Sans',sans-serif;
}

.about{
    font-size: 30px;
}

.moreAbout{
    font-size: 20px;
    margin-top: 20px;
    font-family: 'Fira Sans',sans-serif;
}

.buttons{
    margin-top: 35px;
}
.btn{
    padding: 10px 15px;
    border-radius: 20px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 20px;
    margin: 0 3px;
    cursor: pointer;
}

.btn-sm{
    font-size: 15px;
    padding: 7px 13px;
    margin: 12px 0;
}

.btn:hover{
    background-color: white;
    color: black;
}

.devPic img{
    height: 60vh;
}

@media (max-width: 1615px) { 
    /**{
        background-color: red;
    }*/
    .devPic{
        display: none;
    }
    /* .sidebar{
        transform: translate(-443px,0px);
        position: absolute;
    }*/
}
