@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Source+Code+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
}

.sidebar{
    background-color: rgb(196, 192, 192);
    /* width: 435px; */
    font-family: 'Fira Sans',sans-serif;
    height: 100vh;
    transition: transform 0.3s ease-in;
}

.sidebar nav{
    padding: 40px;
}

.sidebar nav li{
   list-style: none;
   font-size: 30px;
   padding: 35px 0;
}

.sidebar nav li a{
    text-decoration: none;
    color: black;
}

.sidebarGo{
    transform: translate(-443px,0px);
    position: absolute;
}

.hamburger{
    position: absolute;
    cursor: pointer;
    top:10px;
    left: 10px;
}

.ham{
    margin-top: 10px;
}

.cross{
    margin-left: 160px;
    margin-top: 10px;
}

.main{
    /* background-color: yellow; */
    width: 90vw;
}

.container{
    display: flex;
}

.buttons{
    margin-top: 35px;
}
.btn{
    padding: 10px 15px;
    border-radius: 20px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 20px;
    margin: 0 3px;
    cursor: pointer;
}

.btn-sm{
    font-size: 15px;
    padding: 7px 13px;
    margin: 12px 0;
}

.btn:hover{
    background-color: white;
    color: black;
}

.intro h2{
    font-family: 'Fira Sans',sans-serif;
    margin: 12px;
}

.intro p{
    font-family: 'Source Code Pro', monospace;
    margin: 12px;
}

.skill{
    width: 265px;
    height: 5px;
    background-color: red;
    border: 2px solid black;
}

.skillItem{
    display: flex;
    align-items: center;
    font-family: 'Source Code Pro', monospace;
    font-weight: 900;
}

.skillContainer{
    padding: 12px;
    display: flex;
    flex-direction: column;
}

.hundred{
    width:250px;
    background-color: green;
}

.fifty{
    width:125px;
    background-color: yellow;
}

.t5{
    width:72.5px;
    background-color: red
}
