@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Source+Code+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: wheat;
}

.header{
    display: flex;
    flex-direction: row-reverse;
    margin: 5px;
    padding: 15px;
}

.menuGroup{
    display: flex;
}

.menu{
    list-style-type: none;
    margin: 10px 25px;
}

.menuTitle{
    margin: 0 10px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
    font-family: HelveticaNeue,sans-serif;
}

.menuTitle:hover{
    opacity: 70%;
}

.sidebar{
    position: absolute;
    background-color: rgb(196, 192, 192);
    width: 300px;
    font-family: 'Fira Sans',sans-serif;
    height: 100vh;
    transition: transform 0.3s ease-in;
}

.sidebar nav{
    padding: 40px;
}

.sidebar nav li{
   list-style: none;
   font-size: 30px;
   padding: 35px 0;
}

.sidebar nav li a{
    text-decoration: none;
    color: black;
}

.sidebarGo{
    transform: translate(-443px,0px);
    position: absolute;
}

.hamburger{
    position: absolute;
    cursor: pointer;
    top:10px;
    left: 10px;
}

.ham{
    margin-top: 10px;
}

.cross{
    margin-left: 225px;
    margin-top: 10px;
}

.main{
    /* background-color: yellow; */
    width: 90vw;
}

.container{
    display: flex;
}

.intro{
    margin: 30px 88px;
}

.intro h2{
    font-family: 'Fira Sans',sans-serif;
    margin: 12px;
}

.intro p,dt,dd{
    font-family: 'Source Code Pro', monospace;
    margin: 12px;
}

table {
    width: max-content;
}

.skill{
    width: 265px;
    height: 5px;
    background-color: red;
    border: 2px solid black;
}

.skillItem{
    display: flex;
    align-items: center;
    font-family: 'Source Code Pro', monospace;
    font-weight: 900;
}

.skillContainer{
    padding: 12px;
    display: flex;
    flex-direction: column;
}

.hundred{
    width:250px;
    background-color: green;
}

.fifty{
    width:125px;
    background-color: yellow;
}

.t5{
    width:72.5px;
    background-color: red
}

@media (max-width: 1279px) { 
    .intro{
        margin: 80px 8px;
    }
    .header{
        display: none;
    }
}

@media(min-width:1280px){
    .hamburger{
        display: none;
    }
}