@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Source+Code+Pro&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.css');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: wheat;
}

.fixed-header{
    background: antiquewhite;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    padding: 5px 0;
    justify-content: center;
    align-items: center;   
}

.menuGroup{
    display: flex;
}

.menu{
    list-style-type: none;
    margin: 10px 25px;
}

.menuTitle{
    margin: 0 10px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
    font-family: HelveticaNeue,sans-serif;
}

.menuTitle:hover{
    opacity: 60%;
}

.sidebar{
    position: absolute;
    background-color:antiquewhite;
    width: 300px;
    font-family: 'Fira Sans',sans-serif;
    height: 100vh;
    transition: transform 0.3s ease-in;
}

.sidebarMenu{
    display: flex;
    justify-content: center;
    padding: 25px;
}

.sidemenu{
   list-style: none;
   font-size: 30px;
   padding: 25px 0;
   text-align: center;
}

.sidepic{
    background-color:whitesmoke;
    border-style: solid;
    border-radius: 50%;
    max-height: 175px;
}

.sidemenuTitle{
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: 600;
    font-family: HelveticaNeue,sans-serif;
}

.sidebarGo{
    transform: translate(-443px,0px);
    position: absolute;
}

.hamburger{
    position: absolute;
    cursor: pointer;
    top:10px;
    left: 10px;
    margin: 10px;
}

.ham{
    font-size: 24px;
}

.cross{
    font-size: 24px;
    padding-left: 240px;
}

.main{
    /* background-color: yellow; */
    width: 100%;
}

.container{
    display: flex;
}

.intro{
    margin: 30px 150px;
}

.intro h2{
    font-family: 'Fira Sans',sans-serif;
    margin: 12px;
}

.intro hr{
    margin: 0px 20px;
}

.parallax{
    display: flex;
    justify-content: center;
    align-items: center;
    /* Make scrollable image */
    background-image: url("../Images/pagebg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pageName{
    font-size: 64px;
    color: wheat;
}

.about-me{
    font-family: 'Source Code Pro', monospace;
    margin: 20px;
}

.about-me ul{
    padding-left: 30px;
    margin: 10px 0;
    list-style-type: square;
}

.about-me li{
    padding-left: 10px;
}

table {
    width: max-content;
}

.skill{
    width: 265px;
    height: 5px;
    background-color: red;
    border: 2px solid black;
}

.skillItem{
    display: flex;
    align-items: center;
    font-family: 'Source Code Pro', monospace;
    font-weight: 900;
}

.skillContainer{
    padding: 12px;
    display: flex;
    flex-direction: column;
}

.hundred{
    width:250px;
    background-color: green;
}

.fifty{
    width:125px;
    background-color: yellow;
}

.t5{
    width:72.5px;
    background-color: red
}

@media (max-width: 1279px) { 
    .intro{
        margin: 80px 15px;
    }
    .fixed-header{
        display: none;
    }
    .parallax{
        min-height: 400px;
    }
    .sectionTitle{
        text-align: center;
    }
}

@media(min-width:1280px){
    .hamburger{
        display: none;
    }
    body{
        margin-top: 60px;
        margin-bottom: 40px;
    }
    .parallax{
        min-height: 500px;
    }
}